@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Poppins:ital,wght@0,200;0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap");
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "mobile ≥ 480px (30em)";
  }
}

@media (min-width: 48em) {
  body:before {
    content: "tablet ≥ 768px (48em)";
  }
}

@media (min-width: 64em) {
  body:before {
    content: "desktop ≥ 1024px (64em)";
  }
}

@media (min-width: 64.0625em) {
  body:before {
    content: "wide ≥ 1025px (64.0625em)";
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centerv {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.centerh {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.left0 {
  left: 0px;
}

.top0 {
  top: 0px;
}

.upperCase {
  text-transform: uppercase;
}

.lowerCase {
  text-transform: lowercase;
}

.bold {
  font-weight: 800;
}

.semi-bold {
  font-weight: 600;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.op-show {
  opacity: 1;
}

.op-hide {
  opacity: 0;
}

.rotate180 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.w100 {
  width: 100%;
}

.wv100 {
  width: 100vw;
}

.w80 {
  width: 80%;
}

.hv100 {
  height: 100vh;
}

.h100 {
  height: 100%;
}

.Up-enter {
  position: absolute;
  top: 100vh;
}

.Up-enter.Up-enter-active {
  position: absolute;
  top: 0vh;
  -webkit-transition: top 1.75s ease-out;
  transition: top 1.75s ease-out;
}

.Up-exit {
  position: absolute;
  top: 0vh;
}

.Up-exit.Up-exit-active {
  position: absolute;
  top: -100vh;
  -webkit-transition: top 1.75s ease-out;
  transition: top 1.75s ease-out;
}

.Down-enter {
  position: absolute;
  top: -100vh;
}

.Down-enter.Down-enter-active {
  position: absolute;
  top: 0vh;
  -webkit-transition: top 1.75s ease-out;
  transition: top 1.75s ease-out;
}

.Down-exit {
  position: absolute;
  top: 0vh;
}

.Down-exit.Down-exit-active {
  position: absolute;
  top: 100vh;
  -webkit-transition: top 1.75s ease-out;
  transition: top 1.75s ease-out;
}

.button-wrapper {
  background-color: #4f5fa4;
  border: 1px solid transparent;
  text-decoration: none;
  height: 50px;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /*TRANSITION SETTINGS*/
  -webkit-transition: border 0.255s, background-color 0.08s linear;
  transition: border 0.255s, background-color 0.08s linear;
}

.button-wrapper .button-text {
  font-family: 'Poppins', 'Times New Roman';
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.button-wrapper:hover {
  border: 1px solid white;
  -webkit-transition: border 0.1s, background-color 0.08s linear;
  transition: border 0.1s, background-color 0.08s linear;
}

.button-wrapper:active {
  border: 1px solid transparent;
  background-color: #172565;
}

#logo {
  text-decoration: none;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#logo p {
  font-family: 'Megrim', 'Helvetica Neue';
}

#logo #name {
  font-size: 42px;
  padding-right: 45px;
}

#logo #tag {
  font-size: 16px;
  -ms-grid-column-align: right;
      justify-self: right;
}

#menu {
  background: transparent;
  position: absolute;
  z-index: +40;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 4fr 1fr 80px;
      grid-template-columns: 300px 1fr 4fr 1fr 80px;
      grid-template-areas: "logo . actualPage languageMutation menuButton";
  width: 100vw;
}

#menu #logo {
  margin-top: 10px;
  margin-left: 17px;
  max-width: 283px;
  min-width: 283px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

#menu #actualPage-counter {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 22px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: actualPage;
}

#menu #languageMutation {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: languageMutation;
}

#menu #menu-button {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: menuButton;
}

#actualPage-counter {
  color: white;
  font-family: 'Megrim', 'Helvetica Neue';
  font-size: 20px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*TRANSITION SETTINGS*/
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

#menu-button {
  width: 78px;
  height: 68px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  /*TRANSITION SETTING*/
  -webkit-transition: background-color 0.2s, border 0.2s linear;
  transition: background-color 0.2s, border 0.2s linear;
}

#menu-button p {
  font-family: 'Megrim', 'Helvetica Neue';
  font-size: 20px;
  color: white;
}

#menu-button:hover {
  background-color: #4f5fa4;
  border: 1px solid white;
  -webkit-transition: background-color 0.05s, border 0.05s linear;
  transition: background-color 0.05s, border 0.05s linear;
}

#menu-button:active {
  background-color: #172565;
  border: 1px solid transparent;
}

#languageMutation {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 78px;
  height: 68px;
  -ms-grid-column-align: right;
      justify-self: right;
}

#languageMutation #mutation-wrapper {
  width: 78px;
  height: 68px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  /*TRANSITION SETTING*/
  -webkit-transition: background-color 0.2s, border 0.2s linear;
  transition: background-color 0.2s, border 0.2s linear;
}

#languageMutation #mutation-wrapper #arrow {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5px;
  /*TRANSITION SETTINGS*/
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

#languageMutation #option-wrapper {
  width: 78px;
  margin-top: 68px;
  right: 80px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  justify-items: center;
  cursor: pointer;
  /*TRANSITION SETTING*/
  -webkit-transition: background-color 0.2s, border 0.2s linear;
  transition: background-color 0.2s, border 0.2s linear;
}

.language {
  color: white;
  font-family: 'Megrim', 'Helvetica Neue';
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  padding: 5px 0px;
}

.option {
  width: 100%;
  text-align: center;
  border: 1px solid white;
  /*TRANSITION SETTING*/
  -webkit-transition: background-color 0.2s, border 0.2s linear;
  transition: background-color 0.2s, border 0.2s linear;
}

.option:hover {
  background-color: #4f5fa4;
}

.option:active {
  background-color: #172565;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

#mutation-wrapper:hover {
  background-color: #4f5fa4;
  border: 1px solid white;
}

.activeMutationWrapper {
  background-color: #4f5fa4;
  border: 1px solid white;
}

#pageCounter-wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  z-index: +20;
  height: 100%;
  overflow: auto;
  min-height: 640px;
  -ms-grid-rows: clamp(80px, 10vh, 100px) 1fr clamp(80px, 10vh, 100px);
      grid-template-rows: clamp(80px, 10vh, 100px) 1fr clamp(80px, 10vh, 100px);
      grid-template-areas: "." "counter" ".";
  /*POSITIONING*/
  right: 0px;
  padding-right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /*ANIMATION SETTINGS*/
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

@media only screen and (max-height: 640px) {
  #pageCounter-wrapper {
    -webkit-transform: none;
            transform: none;
    top: -2px;
  }
}

#pageCounter-wrapper #countPositioner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: counter;
}

#pageCounter-wrapper #countPositioner .count-wrapper {
  text-decoration: none;
}

#pageCounter-wrapper #countPositioner .count-wrapper .count {
  font-family: 'Megrim', 'Helvetica Neue';
  font-size: clamp(20px, 2.5vmin, 60px);
  font-weight: bold;
  color: #4d4d4d;
  cursor: pointer;
}

#pageCounter-wrapper #countPositioner .count-wrapper .count-underliner {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: white;
  border-radius: 40%;
  margin-top: 2px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#socialIcons-wrapper {
  position: absolute;
  bottom: 70px;
}

#socialIcons-wrapper #socialIcons-section {
  position: relative;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

#socialIcons-wrapper #socialIcons-section #mail-background {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#7121cf), to(#b22dde));
  background: linear-gradient(#7121cf, #b22dde);
  width: 38px;
  height: 38px;
}

#socialIcons-wrapper #socialIcons-section #mail-background #mailIcon {
  overflow: visible;
  position: relative;
}

#socialIcons-wrapper #socialIcons-section #instagram-background {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9353a4), color-stop(#ff5c40), to(#ffc451));
  background: linear-gradient(#9353a4, #ff5c40, #ffc451);
  width: 38px;
  height: 38px;
}

#socialIcons-wrapper #socialIcons-section #instagram-background #instagramIcon {
  overflow: visible;
  position: relative;
}

#socialIcons-wrapper #socialIcons-section #facebook-background {
  cursor: pointer;
  background: #039be5;
  width: 38px;
  height: 38px;
}

#socialIcons-wrapper #socialIcons-section #facebook-background #facebookIcon {
  overflow: visible;
  position: relative;
}

#socialIcons-wrapper #socialIcons-section #mobileclicker {
  overflow: visible;
}

#socialIcons-wrapper #socialIcons-section .icon {
  -webkit-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
}

#socialIcons-mobile-wrapper {
  width: 20px;
  height: 25px;
  background: #4f5fa4;
  position: absolute;
  border-radius: 0px 15px 15px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22px 1fr;
      grid-template-rows: 22px 1fr;
      grid-template-areas: "arrow" "socialIcons";
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#socialIcons-mobile-wrapper #social-arrow {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: arrow;
  cursor: pointer;
  position: absolute;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

#socialIcons-mobile-wrapper #socialIcons-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: socialIcons;
  position: unset;
  bottom: unset;
  margin-left: 5px;
}

#socialIcons-mobile-wrapper .icon {
  opacity: 0;
  display: none;
}

#menuSlider {
  position: absolute;
  z-index: +1;
  height: 100vh;
  width: 100vw;
  background-color: #172565;
  right: -100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuSlider #menubox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 20px;
}

#menuSlider #menubox-wrapper .line {
  height: 3px;
  width: 50%;
  background-color: white;
  position: absolute;
}

#menuSlider #menubox-wrapper #line1 {
  top: 0px;
  left: 0px;
}

#menuSlider #menubox-wrapper #line2 {
  top: 0px;
  left: 0px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menuSlider #menubox-wrapper #line3 {
  bottom: 0px;
  right: 0px;
}

#menuSlider #menubox-wrapper #line4 {
  bottom: 0px;
  right: 0px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menuSlider #menubox-wrapper a {
  position: relative;
  width: 200px;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  /*TRANSITION SETTING*/
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

#menuSlider #menubox-wrapper a p {
  color: white;
  font-weight: 600;
}

#menuSlider #menubox-wrapper a:hover {
  background-color: #4f5fa4;
}

.listWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.listWrapper .square {
  background: #4f5fa4;
  margin-right: 10px;
  min-width: 7px;
}

.listWrapper .listText {
  font-size: 18px;
}

@media only screen and (max-height: 690px) and (max-width: 900px) {
  .listWrapper .listText {
    font-size: 16px;
  }
}

#service-input {
  margin-bottom: 45px;
}

.formInput {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 1fr;
      grid-template-columns: 130px 1fr;
      grid-template-areas: "flag input" ". error";
}

.formInput .actualOption {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 20px;
  width: calc(100%-20px);
  background-color: #E5E5E5;
  border: 1px solid #404040;
}

.formInput .actualOption #actualOption {
  line-height: 41px;
  text-align: center;
  width: 100%;
}

.formInput .actualOption #button {
  position: relative;
  background-color: #B9B6B6;
  width: 50px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.formInput .actualOption #button .triangle {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(0deg) skew(360deg, 0deg);
          transform: rotate(0deg) skew(360deg, 0deg);
}

.formInput .actualOption #button:hover {
  background-color: #888888;
}

.formInput .actualOption .options {
  display: none;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input;
  padding-top: 41px;
  line-height: 41px;
  width: calc(100% - 44px);
  position: absolute;
}

.formInput .actualOption .options .option-select {
  background-color: #E5E5E5;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  /*ANIMATION SETTING*/
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.formInput .actualOption .options #diagnostic {
  border-top: none;
  border-bottom: none;
}

.formInput .actualOption .options .option-select:hover {
  background-color: #4f5fa4;
}

.formInput .flag-contact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flag;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 41px;
  width: 130px;
  background-color: #4f5fa4;
  color: white;
  font-weight: 500;
  min-width: 120px;
  padding: 8px 0px;
}

.formInput .flag-contact .flagOrder {
  padding: 0px 8px;
}

.formInput .flag-contact .flagText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formInput textarea {
  margin-left: 20px;
  width: calc(100%-20px);
  border: 1px solid #404040;
  resize: none;
  min-width: 224px;
  height: 150px;
  padding: 5px;
  padding-left: 15px;
}

.formInput textarea:focus {
  border: 2px solid #4f5fa4;
}

.formInput textarea:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput textarea:invalid[focused="true"] ~ span {
  opacity: 1;
}

.formInput input {
  width: calc(100%-20px);
  height: 41px;
  margin-left: 20px;
  border: 1px solid #404040;
  padding: 5px;
  padding-left: 15px;
}

.formInput input:focus {
  border: 2px solid #4f5fa4;
}

.formInput input:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput input:invalid[focused="true"] ~ span {
  opacity: 1;
}

.formInput .errorMessage {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: error;
  width: calc(100%-20px);
  margin-left: 20px;
  font-size: 12px;
  padding: 3px;
  color: red;
  opacity: 0;
}

.formInput-mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 1fr;
      grid-template-columns: 130px 1fr;
  -ms-grid-rows: 1fr 25px;
      grid-template-rows: 1fr 25px;
      grid-template-areas: "flag input" ". error";
  width: 85%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.formInput-mobile .flag-contact-mobile {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flag;
  background: #4f5fa4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.formInput-mobile .flag-contact-mobile .flagText-mobile {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 600;
}

.formInput-mobile textarea {
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% - 15px);
  height: 90px;
  overflow-y: scroll;
}

.formInput-mobile textarea:focus {
  border: 2px solid #4f5fa4;
}

.formInput-mobile textarea:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput-mobile textarea:invalid[focused="true"] ~ span {
  opacity: 1;
}

.formInput-mobile input {
  height: 41px;
  padding-left: 10px;
  width: calc(100% - 15px);
}

.formInput-mobile input:focus {
  border: 2px solid #4f5fa4;
}

.formInput-mobile input:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput-mobile input:invalid[focused="true"] ~ span {
  opacity: 1;
}

.formInput-mobile .errorMessage-mobile {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: error;
  width: calc(100%-20px);
  margin-left: 20px;
  font-size: 12px;
  padding: 3px;
  color: red;
  opacity: 0;
  margin-bottom: 5px;
}

.submitButton {
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #4f5fa4;
  padding: 8px 30px;
  cursor: pointer;
  /*TRANSITION SETUP*/
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.submitButton:active {
  background-color: #172565;
}

.submitButton:hover {
  padding: 7px 30px;
  border: 1px solid #172565;
}

.iconSegment {
  margin: 5px 0px;
  margin-left: 20px;
}

.iconSegment .iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.iconSegment .iconWrapper .icon {
  width: 1.5em;
  height: 1.5em;
}

.iconSegment .iconWrapper .description {
  margin-left: 20px;
  color: white;
  font-size: 0.75em;
}

.segmentLine {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0px;
  -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
  font-weight: 600;
}

.segmentLine .lineName {
  color: white;
}

.segmentLine .lineValue {
  color: white;
  margin-left: 10px;
}

#footer {
  width: 100vw;
  height: 50px;
  background: black;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr 150px 1fr;
      grid-template-areas: ". footerLogo .";
}

#footer #footerLogo-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footerLogo;
  cursor: pointer;
}

#footer #footerLogo-wrapper .leftSide-logo {
  position: absolute;
  height: 100%;
  width: 30px;
  background: transparent;
  left: 56px;
}

#footer #footerLogo-wrapper .leftSide-logo #line1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(9px + -3px);
}

#footer #footerLogo-wrapper .leftSide-logo #line2 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(19px + -3px);
}

#footer #footerLogo-wrapper .leftText {
  position: absolute;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "1pt 2pt 3pt";
  left: 24px;
  top: 10px;
}

#footer #footerLogo-wrapper .leftText #pt1 {
  font-family: "Oxanium" !important;
  font-weight: 800;
  font-size: 15px;
  opacity: 0;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1pt;
  left: 4px;
}

#footer #footerLogo-wrapper .leftText #pt2-wrapper {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 2pt;
  width: 18px;
}

#footer #footerLogo-wrapper .leftText #pt2-wrapper #pt2 {
  font-family: "Oxanium" !important;
  font-weight: 800;
  font-size: 15px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 2pt;
  text-align: center;
  opacity: 0;
}

#footer #footerLogo-wrapper .leftText #pt2-wrapper #circle {
  position: absolute;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 2pt;
  left: 0px;
  top: 1px;
}

#footer #footerLogo-wrapper .leftText #pt2-wrapper #circle #circlePath {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

#footer #footerLogo-wrapper .leftText #pt3 {
  font-family: "Oxanium" !important;
  font-weight: 800;
  font-size: 15px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1pt;
  opacity: 0;
  right: 4px;
}

#footer #footerLogo-wrapper .divider {
  position: absolute;
  height: 0px;
  width: 3px;
  background: white;
  left: 52%;
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(15deg) translate(-50%, -50%);
          transform: rotate(15deg) translate(-50%, -50%);
}

#footer #footerLogo-wrapper .rightText {
  font-family: "Oxanium" !important;
  font-weight: 800;
  font-size: 15px;
  position: absolute;
  color: white;
  right: 21px;
  top: 19px;
  opacity: 0;
}

#footer #footerLogo-wrapper .rightSide-logo {
  position: absolute;
  height: 100%;
  width: 30px;
  background: transparent;
  right: 57px;
}

#footer #footerLogo-wrapper .rightSide-logo #line3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(15px + 11px);
}

#footer #footerLogo-wrapper .rightSide-logo #line4 {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(5px + 11px);
}

#footer #footerLogo-wrapper .line {
  position: absolute;
  height: 16px;
  width: 3px;
  background: white;
}

#footer #footerLogo-wrapper .centerX {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.progressBar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressBar-wrapper .circleWrapper {
  position: relative;
  cursor: pointer;
}

.progressBar-wrapper .circleWrapper .number {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Megrim', 'Helvetica Neue';
  font-size: 18px;
  font-weight: 600;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.progressBar-wrapper .line-wrapper {
  width: 100px;
  height: 1px;
  background-color: #3d3d3d;
  position: relative;
  overflow: visible;
}

.overlay-wrapper {
  display: none;
  -ms-grid-columns: 55px 1fr 55px;
      grid-template-columns: 55px 1fr 55px;
      grid-template-areas: ". overlay .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.445);
}

.overlay-wrapper .overlay-content-wrapper {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: overlay;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px min-content 50px;
      grid-template-rows: 50px -webkit-min-content 50px;
      grid-template-rows: 50px min-content 50px;
      grid-template-areas: "hideButton" "content" ".";
  padding: 5% 5%;
  border-radius: 25px;
  background: white;
}

.overlay-wrapper .overlay-content-wrapper .hide-button {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hideButton;
  position: absolute;
  cursor: pointer;
  right: 25px;
}

.overlay-wrapper .overlay-content-wrapper .hide-button .line {
  position: absolute;
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background: #303030;
}

.overlay-wrapper .overlay-content-wrapper .hide-button .line:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay-wrapper .overlay-content-wrapper .hide-button .line:nth-of-type(2) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.overlay-wrapper .overlay-content-wrapper .content {
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay-wrapper .overlay-content-wrapper .content .overlay-header {
  text-align: center;
  color: black;
}

.overlay-wrapper .overlay-content-wrapper .content .overlay-content {
  text-align: center;
  color: black;
}

.galleryTiles-wrapper {
  width: 100%;
  top: 90px;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
}

@media (max-height: 1000px) and (max-width: 900px) {
  .galleryTiles-wrapper {
    display: none !important;
  }
}

.galleryTiles-wrapper .img-container {
  min-height: 190px;
  height: 17vw;
  margin: 1.5vw 1vw;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media (max-height: 1000px) and (min-width: 900px) {
  .galleryTiles-wrapper .img-container {
    height: 280px !important;
  }
}

.galleryTiles-wrapper .img-container .img {
  height: 100%;
  cursor: pointer;
}

.galleryTiles-wrapper .img-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.galleryTiles-wrapper .img-container:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery-wrapper {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 100%;
  height: calc(100% - 177px);
}

@media (max-height: 1000px) and (max-width: 900px) {
  .gallery-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1 !important;
  }
}

.gallery-wrapper .cross-container {
  position: absolute;
  right: 10%;
}

@media (max-height: 1000px) and (max-width: 900px) {
  .gallery-wrapper .cross-container {
    display: none !important;
  }
}

.gallery-wrapper .gallery-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 50px 50px 1fr 50px 50px;
      grid-template-columns: 50px 50px 1fr 50px 50px;
      grid-template-areas: ". left gallery right .";
}

.gallery-wrapper .gallery-container .SliderWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: gallery;
  width: 70%;
  height: 100%;
  max-height: 100%;
  /*
            .slide-outer{
               // width: 100%;
                .slide-inner{
                    //width: 100%;
                }
            }*/
}

.gallery-wrapper .leftArr {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery-wrapper .rightArr {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: right;
  cursor: pointer;
}

.cross-wrapper {
  position: relative;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-property: all;
  transition-property: all;
}

.cross-wrapper .line {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}

.cross-wrapper .line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cross-wrapper .line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cross-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cross-wrapper:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#Hero {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background: black;
}

#Hero .radial-gradient {
  position: absolute;
  z-index: 0;
}

#Hero img {
  position: absolute;
  bottom: 0px;
}

#Hero .quote-section {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  grid-area: quote;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 960px;
}

#Hero .quote-section .quote {
  color: white;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

#Hero .quote-section .quote p {
  font-size: clamp(1.2rem, 2.3vw, 2rem);
  font-weight: 600;
  font-style: italic;
}

#Hero .quote-section .quote #quote-firstLine {
  display: inline-block;
  text-align: left;
}

#Hero .quote-section .quote #quote-secondLine {
  position: relative;
  text-align: right;
}

#Hero .quote-section .quote #signature {
  font-size: 12px;
  position: relative;
  text-align: right;
  font-style: normal;
  margin-right: 6vw;
  margin-top: 10px;
  cursor: default;
}

#Hero .quote-section #quote-button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#About {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#About #AboutLayer {
  background: rgba(0, 0, 0, 0.63);
  overflow: auto;
  min-height: 640px;
  min-width: 360px;
}

#About #AboutLayer #About-section {
  position: relative;
  top: 77px;
  height: calc(100vh - 77px);
  width: 75vw;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 400px;
}

#About #AboutLayer #About-section #mainPart {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: clamp(18px, 3vmin, 25px);
}

#About #AboutLayer #About-section #mainPart a {
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(18px, 3vmin, 25px);
  color: #4f5fa4;
}

#About #AboutLayer #About-section #mainPart a:hover {
  text-decoration: underline;
}

#About #AboutLayer #About-section #secondaryPart {
  color: white;
  text-align: center;
  margin: clamp(20px, 4vmax, 40px) 0px;
  font-size: clamp(17px, 1.5vmax, 20px);
}

#About #AboutLayer #About-section #secondaryPart #showMore {
  margin-top: 10px;
  color: #4f5fa4;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

#About #AboutLayer #About-section #secondaryPart #showMore:hover {
  text-decoration: underline;
}

#Contact {
  background: #14151A;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 77px 1fr 50px;
      grid-template-rows: 77px 1fr 50px;
      grid-template-areas: "." "form" "footer";
}

#Contact #foote {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
}

#Contact .contactContent-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
}

#Contact .contactContent-wrapper .contactForm {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Contact .contactContent-wrapper .contactForm .leftSide {
  width: 50%;
  background: white;
  padding: 50px 30px;
}

@media only screen and (max-height: 730px) {
  #Contact .contactContent-wrapper .contactForm .leftSide {
    padding: 20px 30px;
  }
}

#Contact .contactContent-wrapper .contactForm .rightSide {
  width: 50%;
  height: auto;
  background: #4f5fa4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#Contact .contactContent-wrapper .contactForm .rightSide .pricingSegment-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px 20px;
}

#Contact .contactContent-wrapper .contactForm .rightSide .iconSegment-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#ContactMobile {
  background: #14151A;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr 50px;
      grid-template-rows: 100px 1fr 50px;
      grid-template-areas: "." "ContactMobile" "footer";
}

#ContactMobile #ContactMobileForm-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ContactMobile;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm {
  height: 80%;
  width: 80%;
  background: white;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 40px 1fr auto 20px;
      grid-template-rows: 20px 40px 1fr auto 20px;
      grid-template-areas: "." "progressBar" "content" "buttons" ".";
  overflow: auto;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .progressBar-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: progressBar;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper .segmentLine {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  max-width: 500px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contactForm-button-wrapper {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: buttons;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contactForm-button-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contactForm-button-wrapper .button-wrapper {
  width: 150px;
  text-align: center;
  margin: auto 15px;
  padding: 0px;
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm #service-input {
  width: 80%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#ContactMobile #ContactMobileForm-wrapper #ContactMobileForm #service-input .actualOption {
  margin-left: 0px;
}

#ContactMobile #footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
}

#Products {
  background: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Products .tile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#Products .tile .tileLayer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 70px 1fr;
      grid-template-rows: 100px 70px 1fr;
      grid-template-areas: "." "flag" "content";
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

@media only screen and (max-height: 690px) {
  #Products .tile .tileLayer {
    -ms-grid-rows: 100px 60px 1fr;
        grid-template-rows: 100px 60px 1fr;
  }
}

#Products .tile .tileLayer .flag {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flag;
  background: #4f5fa4;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 55px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: default;
}

#Products .tile .tileLayer .flag .count {
  font-size: 20px;
  margin: auto 5px;
  text-align: center;
  width: 45px;
}

#Products .tile .tileLayer .flag .flagLine {
  width: 2px;
  height: 0%;
  background: white;
  margin: auto 0px;
}

#Products .tile .tileLayer .flag .flagText {
  font-size: 20px;
  margin: auto auto;
  opacity: 0;
  display: none;
}

#Products .tile .tileLayer .tileContent {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: none;
      grid-template-rows: 3fr 1fr;
}

#Products .tile .tileLayer .tileContent .tileText {
  color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 50px;
  padding-left: 30px;
}

@media only screen and (max-height: 690px) {
  #Products .tile .tileLayer .tileContent .tileText {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#Products .tile .tileLayer .tileContent #tile01_button, #Products .tile .tileLayer .tileContent #tile02_button, #Products .tile .tileLayer .tileContent #tile03_button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#Products #tile1 {
  width: 60vw;
}

#Products #tile2 {
  width: 20vw;
}

#Products #tile2:hover {
  width: 25vw;
}

#Products #tile3 {
  width: 20vw;
}

#Products .productSwiper {
  width: 100vw;
  height: 100vh;
  background: grey;
  z-index: 0;
  position: relative !important;
  min-height: 640px;
  min-width: 360px;
}

#Products .productSwiper .swiper-pagination {
  bottom: calc(100% - 93px);
}

#Products .productSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
}

#Products .productSwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #4f5fa4;
}

#Products .productSwiper .swiper-wrapper .swiper-slide .tile .tileLayer {
  -ms-grid-rows: 100px 60px 1fr;
      grid-template-rows: 100px 60px 1fr;
}

#Products .productSwiper .swiper-wrapper .swiper-slide .tile .tileLayer .tileContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 44px 1fr 44px;
      grid-template-columns: 44px 1fr 44px;
  -ms-grid-rows: auto auto 60px;
      grid-template-rows: auto auto 60px;
      grid-template-areas: ". tileText ." ". button ." ". . .";
}

#Products .productSwiper .swiper-wrapper .swiper-slide .tile .tileLayer .tileContent .tileText {
  padding: 0px;
  padding-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tileText;
}

#Products .productSwiper .swiper-wrapper .swiper-slide .tile .tileLayer .tileContent .button-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
}

#Qualification {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50px;
      grid-template-rows: 1fr 50px;
      grid-template-areas: "content" "footer";
}

#Qualification .layer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.582);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#References {
  width: 100vw;
  height: 100vh;
  background-color: #4f5fa4;
}

#References div {
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: clamp(1.602em, 8vw, 2.441em);
}

h2 {
  font-size: clamp(1.424em, 6vw, 1.953em);
}

h3 {
  font-size: clamp(1.266em, 5vw, 1.563em);
}

html,
body,
#root,
.App,
#Hero,
#About,
#Contact,
#ContactMobile,
#Products,
#Qualification {
  width: 100vw;
  height: 100vh;
}

html {
  overflow: hidden;
}

#Hero,
#About,
#Contact,
#ContactMobile,
#Products,
#Qualification,
.App,
#root,
html,
body {
  overflow: auto;
  min-height: 640px;
  min-width: 360px;
}

/*
    - Less than 480px
    - Less than 768px
    - Less than 1024px
    - More than 1025px

    biggest to smallest
*/
@media (min-width: 64.0625em) {
  #Hero {
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
        grid-template-areas: "quote .";
  }
  #Hero img {
    right: 15%;
    height: clamp(400px, 95%, 80vmax);
  }
  /**/
  /**/
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .message {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .iconSegmentMobile-wrapper .iconSegment .iconWrapper svg {
    fill: black !important;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .iconSegmentMobile-wrapper .iconSegment .iconWrapper .description {
    color: black;
  }
}

@media (max-width: 63.99em) {
  #Hero {
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
        grid-template-areas: "quote .";
  }
  #Hero img {
    right: 10%;
    height: clamp(400px, 85%, 80vmax);
  }
  #Hero .quote-section {
    top: 10%;
  }
  /**/
  /**/
  #Qualification .layer .galleryTiles-wrapper .img-container {
    height: 250px;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .message {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .iconSegmentMobile-wrapper .iconSegment .iconWrapper svg {
    fill: black !important;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .submitContent .iconSegmentMobile-wrapper .iconSegment .iconWrapper .description {
    color: black;
    width: 70%;
  }
}

@media (max-width: 47.99em) {
  /*SOCIAL ICONS POSITIONER*/
  .App #socialIcons-mobile-wrapper {
    top: calc(100% - 200px);
  }
}

@media only screen and (max-width: 47.99em) and (max-height: 640px) {
  .App #socialIcons-mobile-wrapper {
    top: calc(640px - 200px);
  }
}

@media (max-width: 47.99em) {
  #menu #logo {
    min-width: 250px;
    max-width: 250px;
  }
  #menu #logo #name {
    font-size: 35px;
  }
  #menu #logo #tag {
    font-size: 14px;
  }
  #menu #actualPage-counter {
    display: none;
  }
  #Hero {
    -ms-grid-columns: 1fr 83% 1fr;
        grid-template-columns: 1fr 83% 1fr;
        grid-template-areas: ". quote .";
  }
  #Hero img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: clamp(400px, 100%, 80vmax);
  }
  #Hero .quote-section {
    top: 15%;
  }
  #Hero .quote-section .quote {
    padding-left: 0px;
    padding-right: 0px;
  }
  #Hero .quote-section .quote #quote-firstLine,
  #Hero .quote-section .quote #quote-secondLine {
    font-size: clamp(1rem, 3vw, 35px);
  }
  /**/
  /**/
  #Qualification .layer .galleryTiles-wrapper {
    display: none !important;
  }
  #Qualification .layer .gallery-wrapper .gallery-container {
    -ms-grid-columns: 50px 1fr 50px;
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: "left gallery right";
  }
  #Qualification .layer .gallery-wrapper .gallery-container .slide-inner {
    padding: 0px;
  }
  #ContactMobile {
    -ms-grid-rows: 0px 1fr 50px;
        grid-template-rows: 0px 1fr 50px;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm {
    padding-top: 68px;
    width: 100%;
    height: 100%;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper .formInput-mobile {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 40px 1fr 25px;
        grid-template-rows: 40px 1fr 25px;
        grid-template-areas: "flag" "input" "error";
    width: 70%;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contactForm-button-wrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 29.99em) {
  #menu {
    -ms-grid-columns: 160px 1fr 4fr 1fr 80px;
        grid-template-columns: 160px 1fr 4fr 1fr 80px;
  }
  #menu #logo {
    margin-top: 5px;
    min-width: 160px;
    max-width: 160px;
  }
  #menu #logo #name {
    margin-top: 10px;
    font-size: 20px;
  }
  #menu #logo #tag {
    margin-bottom: 10px;
    font-size: 10px;
  }
  #Hero img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: clamp(400px, 75%, 80vmax);
  }
  #Hero .quote-section {
    width: 70vw;
  }
  #Hero .quote-section .quote #quote-firstLine {
    font-size: 13px;
  }
  #Hero .quote-section .quote #quote-secondLine {
    font-size: 13px;
    text-align: left;
  }
  #About #AboutLayer #About-section #mainPart {
    font-size: 15px;
  }
  #About #AboutLayer #About-section #secondaryPart {
    font-size: 13px;
  }
  #About #AboutLayer .overlay-wrapper {
    z-index: 100;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "overlay";
  }
  #About #AboutLayer .overlay-wrapper .overlay-content-wrapper {
    height: 100%;
    border-radius: 0px;
    -ms-grid-rows: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    padding: 0px 25px;
  }
  /**/
  #Qualification .layer .gallery-wrapper {
    width: 100%;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm {
    -ms-grid-rows: 20px 40px 1fr auto 50px;
        grid-template-rows: 20px 40px 1fr auto 50px;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .progressBar-wrapper .line-wrapper {
    width: 50px;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper .formInput-mobile {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 25px;
        grid-template-rows: 1fr 25px;
        grid-template-areas: "input" "error";
    width: 70%;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper .formInput-mobile .flag-contact-mobile {
    display: none;
  }
  #ContactMobile #ContactMobileForm-wrapper #ContactMobileForm .contentForm-wrapper #service-input {
    width: 70%;
  }
}
/*# sourceMappingURL=index.css.map */