$schemeBlueLight: #4F5FA4;
$schemeBlueDark: #172565;

//FONTS//
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
////////////////////////////////////
//MODULES//
@import './modificationClasses';
@import './transitionClasses';
////////////////////////////////////
//COMPONENTS//
@import './Component_styles/Button';
@import './Component_styles/Logo';
@import './Component_styles/Menu';
@import './Component_styles/ActualPage';
@import './Component_styles//MenuButton';
@import './Component_styles/LanguageMutations';
@import './Component_styles/PageCounter';
@import './Component_styles/SocialIcons';
////////////////////////////////////
//PAGE STYLES//
@import './Page_styles/Hero';
@import './Page_styles/About';
@import './Page_styles/Contact';
@import './Page_styles/Products';
////////////////////////////////////
//MAIN SETTINGS//
*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h1{font-size: clamp(1.602em, 8vw, 2.441em )}
h2{font-size: clamp(1.424em, 6vw, 1.953em )}
h3{font-size: clamp(1.266em, 5vw, 1.563em )}

html, body, #root, #App, #Hero, #About, #Contact, #Products{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
}

html{
    overflow: hidden;
}

////////////////////////////////////
//BREAKPOITS//
/*
    - Less than 480px
    - Less than 768px
    - Less than 1024px
    - More than 1025px

    biggest to smallest
*/

$mobileWidth: 480px;
$ipadWidth: 768px;
$pcWidth: 1024px;

@mixin mediaMax($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

@mixin mediaMin($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
}
///////////////////////////////////////////////////

    //MORE THAN 1025px
    @include mediaMin($pcWidth + 1px){
        #menu{}
        #Hero{
            grid-template-columns: 60% 1fr;
            grid-template-areas: "quote .";

            img{
                right: 15%;
                height: clamp(400px, 95%, 80vmax); //min optimal max
            }
        }
    }

    //LESS THAN 1024px
    @include mediaMax($pcWidth){
        #menu{}
        #Hero{
            grid-template-columns: 60% 1fr;
            grid-template-areas: "quote .";

            img{
                right: 10%;
                height: clamp(400px, 85%, 80vmax); //min optimal max
            }

            .quote-section{
                top: 10%;
            }
        }
    }

    //LESS THAN 768px
    @include mediaMax($ipadWidth){
        #menu{}
        #Hero{
            grid-template-columns: 1fr 83% 1fr;
            grid-template-areas: ". quote .";

            img{
                left: 50%;
                transform: translateX(-50%);
                height: clamp(400px, 100%, 80vmax); //min optimal max
            }

            .quote-section{
                top: 15%;

                .quote{
                    padding-left: 0px;
                    padding-right: 0px;

                    #quote-firstLine, #quote-secondLine{
                        font-size: clamp(1rem, 3vw, 35px)
                    }
                }
                
            }
        }
    }

    //LESS THAN 480px
    @include mediaMax($mobileWidth){
        #menu{}
        #Hero{
            img{
                left: 50%;
                transform: translateX(-50%);
                height: clamp(400px, 75%, 80vmax); //min optimal max
            }
        }
    }

