#actualPage-counter{
    color: white;
    font-family: 'Megrim', 'Helvetica Neue';
    font-size: 20px;
    cursor: default;
    user-select: none;

    /*TRANSITION SETTINGS*/
    transition: opacity 0.5s linear;
}