.button-wrapper{
    background-color: $schemeBlueLight;
    border: 1px solid transparent;

    height: 50px;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;

    display:inline-grid;
    align-items: center;

    cursor: pointer;
    
    .button-text{
        font-family:'Poppins', 'Times New Roman';
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }

    /*TRANSITION SETTINGS*/
    transition: border 0.255s, background-color 0.08s linear;
}

.button-wrapper:hover{
    border: 1px solid white;
    transition: border 0.1s, background-color 0.08s linear;
}

.button-wrapper:active{
    border: 1px solid transparent;
    background-color: $schemeBlueDark;
}