$inputHeight: 41px;
$flagInput-margin:20px;
$inputWidth: calc(100% - $flagInput-margin);

#service-input{
    margin-bottom: 45px;
}
.formInput{
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-areas: "flag input"
                        ". error";
    

    .actualOption{
        grid-area: input;
        display: flex;
        position: relative;
        
        margin-left: $flagInput-margin;
        width: $inputWidth;
        background-color: #E5E5E5;
        border: 1px solid #404040;

        #actualOption{
            line-height: $inputHeight;
            text-align: center;
            width: 100%;
        }

        #button{
            position: relative;
            background-color:   #B9B6B6;
            width: 50px;
            cursor: pointer;
            display: grid;
            align-items: center;
            justify-items: center;

            .triangle{
                width: 0px;
                height: 0px;
                border-left:  5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid white;

                position: absolute;
                transform-origin: center center;
                transform: rotate(0deg) skew(360deg, 0deg);
                
            }
        }

        #button:hover{
            background-color: rgb(136, 136, 136);
        }

        .options{
            display:none;
            grid-area: input;
            padding-top: $inputHeight;
            line-height: $inputHeight;
            width: calc(100% - 44px);
            position: absolute;
            
    
            .option-select{
                background-color: #E5E5E5;
                border: 1px solid grey;
                text-align: center;
                cursor: pointer;

                /*ANIMATION SETTING*/
                transition: background-color 0.2s linear;
            }

            #diagnostic{
                border-top: none;
                border-bottom: none;
            }

            .option-select:hover{
                background-color: $schemeBlueLight;
            }
        }
    }
    

    .flag-contact{
        grid-area: flag;

        display: inline-flex;
        flex-wrap: nowrap;
        height: $inputHeight;
        width: 130px;

        background-color:$schemeBlueLight;
        color: white;
        font-weight: 500;
        min-width: 120px;

        padding: 8px 0px;
        
        .flagOrder{
            padding: 0px 8px;
        }
        .flagText{
            display: flex;
            flex-basis: 100%;
            justify-content: center;
        }
    }

    textarea{
        margin-left: $flagInput-margin;
        width: $inputWidth;
        border: 1px solid #404040;
        resize: none;
        min-width: 224px;
        height: 150px;
        padding: 5px;
        padding-left: 15px;
    }
    
    textarea:focus{
        border: 2px solid $schemeBlueLight;
    }

    textarea:invalid[focused="true"]{
        border: 1px solid red;
    }
    
    textarea:invalid[focused="true"] ~ span{
        opacity:1;
    }

    input{
        width: $inputWidth;
        height: $inputHeight;
        margin-left: $flagInput-margin;
        border: 1px solid #404040;
        padding: 5px;
        padding-left: 15px;
    }

    input:focus{
        border: 2px solid $schemeBlueLight;
    }

    input:invalid[focused="true"]{
        border: 1px solid red;
    }
    
    input:invalid[focused="true"] ~ span{
        opacity: 1;
    }

    .errorMessage{
        grid-area: error;
        width: $inputWidth;
        margin-left: $flagInput-margin;

        font-size: 12px;
        padding: 3px;
        color: red;
        opacity: 0;
    }
}

///////////////////////////////////////////////////////////
.formInput-mobile{
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr 25px;
    grid-template-areas: "flag input" ". error";
    width: 85%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .flag-contact-mobile{
        grid-area: flag;

        background: $schemeBlueLight;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 35px;
        width: 130px;

        margin-left: auto;
        margin-right: auto;

        margin-bottom: 5px;

        .flagText-mobile{
            color:white;
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            align-content: center;
            font-weight: 600;;
        }
    }

    

    textarea{
        resize: none;
        padding-left: 10px;
        padding-top: 10px;
        width: calc(100% - 15px);
        height: 90px;

        margin-left: 15px;

        overflow-y:scroll;
    }
    textarea:focus{
        border: 2px solid $schemeBlueLight;
    }
    textarea:invalid[focused="true"]{
        border: 1px solid red;
    }
    
    textarea:invalid[focused="true"] ~ span{
        opacity:1;
    }

    input{
        height: $inputHeight;
        padding-left: 10px;
        margin-left: 15px;
    }

    input:focus{
        border: 2px solid $schemeBlueLight;
    }

    input:invalid[focused="true"]{
        border: 1px solid red;
    }
    
    input:invalid[focused="true"] ~ span{
        opacity: 1;
    }

    .errorMessage-mobile{
        grid-area: error;

        width: $inputWidth;
        margin-left: $flagInput-margin;

        font-size: 12px;
        padding: 3px;
        color: red;
        opacity: 0;

        margin-bottom: 5px;
    }
}