.listWrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;

    .square{
        z-index: +1;
        background: $schemeBlueLight;
        margin-right: 10px;
    }

    .listText{
        font-size: 18px;
    }
}