#menu-button{
    width: 78px;
    height: 68px;
    position: relative;
    background-color: transparent;
    cursor: pointer;

    border: 1px solid transparent;

    p{
        font-family: 'Megrim', 'Helvetica Neue';
        font-size: 20px;
        color: white;
    }

    /*TRANSITION SETTING*/
    transition: background-color 0.2s, border 0.2s linear;
}

#menu-button:hover{
    background-color: $schemeBlueLight;
    border: 1px solid white;
    transition: background-color 0.05s, border 0.05s linear;
}

#menu-button:active{
    background-color: $schemeBlueDark;
    border: 1px solid transparent;
}

#menuSlider{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    background-color: $schemeBlueDark;
    right: -100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #menubox-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        padding: 20px 20px;

        .line{
            height: 3px;
            width: 50%;
            background-color: white;
            position: absolute;
        }

        #line1{
            top: 0px;
            left: 0px;
        }
        #line2{
            top: 0px;
            left: 0px;
            transform-origin: top left;
            transform: rotate(90deg);
        }
        #line3{
            bottom: 0px;
            right: 0px;
        }
        #line4{
            bottom: 0px;
            right: 0px;
            transform-origin: top right;
            transform: rotate(90deg);
        }

        a{
            position: relative;
            width: 200px;
            padding: 15px 0px;
            text-align: center;
            text-decoration: none;
    
            /*TRANSITION SETTING*/
            transition: background-color 0.2s linear;
    
            p{
                color: white;
                font-weight: 600;
            }
        }
    
        a:hover{
            background-color: $schemeBlueLight;
        }
    }
}