#About{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

    #AboutLayer{
        background: rgba(0, 0, 0, 0.63);
        overflow: auto;
        min-height: 640px;
        min-width: 360px;

        #About-section{
            position: relative;
            top: 77px;
            height: calc(100vh - 77px);
            width: 75vw;
            bottom: 0px;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            
            left: 50%;
            transform: translateX(-50%);

            min-height: 400px;

            #mainPart{
                color:white;
                text-align: center;
                font-weight: 600;
                font-size: clamp(18px, 3vmin, 25px);

                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: clamp(18px, 3vmin, 25px);
                    color:$schemeBlueLight;
                }

                a:hover{
                    text-decoration: underline;
                }
            }
            #secondaryPart{
                color:white;
                text-align: center;
                margin: clamp(20px, 4vmax, 40px) 0px;
                font-size: clamp(17px, 1.5vmax, 20px);

                #showMore{
                    margin-top: 10px;
                    color: $schemeBlueLight;
                    font-weight: 600;
                    cursor: pointer;
                    display: inline-block;
                }

                #showMore:hover{
                    text-decoration: underline;
                }
                
            }
        }
    }
}