
$quotePadding: 3vw;
$quoteFontSize: 20px;
$quoteFontSize: clamp(1.2rem, 2.3vw, 2rem);

#Hero{
    width: 100vw;
    height: 100vh;
    display: grid;
    background: rgb(0, 0, 0);
    z-index: -1;

    .radial-gradient{
        position: absolute;
        z-index: 0;
    }

    img{
        position: absolute;
        bottom: 0px;
    }

    .quote-section{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        grid-area: quote;
        align-self: center;
        max-width: 960px;

        .quote{
            color: white;

            padding-left: $quotePadding;
            padding-right: $quotePadding;
            padding-top: $quotePadding;
            padding-bottom: $quotePadding;
            
            p{
                font-size: $quoteFontSize;
                font-weight: 600;
                font-style: italic;
            }

            #quote-firstLine{
                display: inline-block;
                text-align: left;
            }
            #quote-secondLine{
                position: relative;
                text-align: right;
            }
            #signature{
                font-size: 12px;
                position: relative;
                text-align: right;
                font-style: normal;
                margin-right: 6vw;
                margin-top: 10px;
                cursor: default;
            }
        }

        #quote-button{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
