$flagFontSize: 20px;
$maxHeight: 690px;

#Products{
    background: wheat;
    display: flex;

    .tile{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        cursor: pointer;

        .tileLayer{
            display: grid;
            grid-template-rows: 100px 70px 1fr;
            grid-template-areas: ".""flag""content";

            transition: background-color 0.3s ease-out;

            @media only screen and (max-height: $maxHeight) {
                grid-template-rows: 100px 60px 1fr;
            }

            .flag{
                grid-area: flag;

                background: $schemeBlueLight;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
    
                width: 55px;
                height: 60px;
                display: flex;
                flex-wrap: nowrap;

                cursor: default;
    
                .count{
                    font-size: $flagFontSize;
                    margin: auto 5px;
                    text-align: center;
                    width: 45px;
                }
    
                .flagLine{
                    width: 2px;
                    height: 0%;
                    background: white;
                    margin: auto 0px;
                }
    
                .flagText{
                    font-size: $flagFontSize;
                    margin: auto auto;
                    opacity: 0;
                    display:none;
                }
            }
            .tileContent{
                grid-area: content;
                display: none; //grid after
                grid-template-rows: 3fr 1fr ;

                .tileText{
                    color: white;
                    align-items: start;
                    align-content: center;

                    padding-top: 50px;
                    padding-left: 30px;

                    @media only screen and (max-height: $maxHeight) {
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                }
                #tile01_button, #tile02_button, #tile03_button{
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }

    #tile1{
        width: 60vw;
        
    }
    #tile2{
        width: 20vw;
    }
    #tile2:hover{
        width: 25vw;
    }
    #tile3{
        width: 20vw;
    }


    //SWIPER SECTION//
    .productSwiper{
        width: 100vw;
        height: 100vh;

        background: grey;
        z-index: 0;

        position: relative !important;

        min-height: 640px;
        min-width: 360px;

        .swiper-pagination{
           bottom: calc(100% - 90px); 
        }

        .swiper-wrapper{

            .swiper-slide{
                .tile{
                    .tileLayer{
                            grid-template-rows: 100px 60px 1fr;
                        .tileContent{
                            display:grid;
                            grid-template-columns: 44px 1fr 44px;
                            
                            grid-template-rows: auto auto 60px;
                            grid-template-areas: ". tileText ."
                                                ". button ."
                                                ". . .";
                            .tileText{
                                padding: 0px;
                                padding-top:10px;
                                grid-area: tileText;
                            }

                            .button-wrapper{
                                grid-area: button;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}