#Qualification {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "content" "footer";

  .layer {
    grid-area: content;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.582);

    display: grid;
    align-items: center;
  }
}
